# Carpetas de Godot
.import/
.export/

# Archivos de usuario de Godot
*.tmp
*.translation
*.import
*.log

# Configuración local (no necesaria en otros equipos)
.godot/

# Archivos de exportación
*.pck
*.exe
*.apk
*.zip
